footerHeight = 150px
footerPaddingTop = 20px

html, body
  height: 100%;

.sticky-wrap
  min-height: 100%;
  padding-bottom footerHeight

.sticky-footer
  position relative
  margin-top: (-1 * footerHeight)
  height footerHeight
  clear both
  padding-top footerPaddingTop
  .navbar
    margin 0
    height footerHeight - footerPaddingTop

.app-container
  position absolute
  top 70px
  bottom 0px
  left 0px
  right 0px

.app-row
  height 100%

.view-container
  height 100%
  display none

.main-content
  height 100%

.kanban-list
  border #e7e7e7 1px solid
  height 98%
  margin-bottom 2%
  padding-right 7px
  padding-left 7px

.kanban-card
  background #f8f8f8
  border #e7e7e7 1px solid
  border-radius 4px
  box-shadow rgba(87,87,87,0.7) 1px 2px 4px

.row.kanban-content
  margin-left 5%
  height 75%
  min-height 500px

.news-header
  margin-top 20px

#js-plumb-container
  position relative

#orgchart-container
  .team-block
    min-width 75px
    height 75px
    border solid 2px #444
    position absolute
    border-radius 5px

#dashboard-container
  .chart
    height 300px

#profile-container
  .chart
    height 200px

/* addons */
.js-link
  cursor hand
  cursor pointer

.divider
  padding-top 10px
  margin-bottom 10px
  border-bottom 1px solid #ddd
