<!DOCTYPE html>
<html lang="en">

  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/css/jsplumb/jsplumb.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.jqplot.css" />

  </head>

  <body>


    <header>

      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Brand</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="#profile">My Profile</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/logout">logout</a></li>
                  <li class="divider"></li>
                  <li><a href="#news">Link to stuff</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Some link</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    </header>

    <div class="container-fluid app-container">

      <div class="row app-row">

        <div class="col-sm-3 sidebar">
          <div class="panel-group" id="accordion">
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="#dashboard">
                    Dashboard
                  </a>
                </h4>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="#orgchart">
                    Org Chart
                  </a>
                </h4>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="js-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapseKanban">
                    Kanban <span class="caret"></span>
                  </a>
                </h4>
              </div>

              <div id="collapseKanban" class="panel-collapse collapse">
                <!-- sidebarKanbanTmpl -->
              </div>

            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="#settings">
                    Settings
                  </a>
                </h4>
              </div>
            </div>

          </div>
        </div><!-- sidebar -->

        <div class="col-sm-9 main-content">

          <div id="profile-container" class="view-container">

            <div class="row">
              <h2>Profile</h2>
              <div class="divider"></div>
            </div>

            <div class="row">

              <div id="profile-burn-rate" class="col-sm-6 chart"></div>
              <div class="col-sm-5">
                <h3>Tasks in Progress</h3>
                <ul class="list-group">
                  <li class="list-group-item">Task 1</li>
                  <li class="list-group-item">Task 2</li>
                  <li class="list-group-item">Task 3</li>
                </ul>
              </div>

            </div>

            <div class="row">

              <div id="profile-resource-util" class="col-sm-6 chart"></div>
              <div class="col-sm-5">
                <h3>Completed Tasks</h3>
                <ul class="list-group">
                  <li class="list-group-item">Task 1</li>
                  <li class="list-group-item">Task 2</li>
                  <li class="list-group-item">Task 3</li>
                </ul>
              </div>

            </div>

          </div>

          <div id="dashboard-container" class="view-container">

            <div class="row">
              <h2>Dashboard</h2>
              <div class="divider"></div>
            </div>

            <div class="row">

              <div id="overall-burn-rate" class="col-sm-6 chart"></div>
              <div id="overall-resource-util" class="col-sm-6 chart"></div>

            </div>

            <div class="row">

              <div class="col-xs-12 col-sm-offset-2 col-sm-10">
                <h1 class="dashboard-budget-ct"><!-- dashboardBudgetTmpl --></h1>
              </div>

            </div>


            <div class="row">
              <div class="divider"></div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <h2>News</h2>
              </div>
              <div class="col-xs-5 news-header">
                <form class="form-horizontal" role="form">
                  <div class="form-group pull-right">
                    <label for="news-filter" class="col-xs-3 control-label">Filter</label>
                    <div class="col-xs-9">
                      <select id="news-filter" class="form-control">
                        <option value="all">All</option>
                        <option value="t 1">Team #1</option>
                        <option value="t 2">Team #2</option>
                        <option value="p 1">Project #1</option>
                        <option value="p 2">Project #2</option>
                        <option value="p 3">Project #3</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="row">

              <div class="col-xs-12">


                <div class="list-group dashboard-news-ct"><!-- dashboardNewsTmpl --></div>



              </div>

            </div>

          </div>

          <div id="kanban-container" class="view-container">

            <div class="alert alert-danger alert-no-model">Can't find that project, sorry Charlie...</div>
            <div class="row">
              <h2 class="text-center text-primary kanban-teamname-ct">
                <!-- kanbanTeamnameTmpl -->
              </h2>
            </div>

            <div class="row kanban-content">

              <div class="col-xs-2 backlog-ct kanban-list">

                <div>
                  <h4 class="text-center">Backlog</h4>
                </div>

                <div class="kanban-backlog-ct"></div>

              </div>

              <div class="col-xs-2 pending-ct kanban-list">

                <div>
                  <h4 class="text-center">Pending</h4>
                </div>

                <div class="kanban-pending-ct"></div>

              </div>

              <div class="col-xs-2 doing-ct kanban-list">

                <div>
                  <h4 class="text-center">Doing</h4>
                </div>

                <div class="kanban-doing-ct"></div>

              </div>

              <div class="col-xs-2 blocked-ct kanban-list">

                <div>
                  <h4 class="text-center">Blocked</h4>
                </div>

                <div class="kanban-blocked-ct"></div>

              </div>

              <div class="col-xs-2 done-ct kanban-list">

                <div class=" ">
                  <h4 class="text-center">Done</h4>
                </div>

                <div class="kanban-done-ct"></div>

              </div>

            </div>

            <div class="row stats-container">

              <div class="col-sm-4">
                <h4 class="text-muted">Burn Rate</h4>
                <div class="progress">
                  <div class="progress-bar" role="progressbar"
                       aria-valuenow="60" aria-valuemin="0"
                       aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60%</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <h4 class="text-muted">Budget</h4>
                <h2>$6k Over</h2>
              </div>
              <div class="col-sm-4">
                <h4 class="text-muted">Resource Utilization</h4>
                <h2>87%</h2>
              </div>

            </div>

          </div>

          <div id="orgchart-container" class="view-container">

            <div class="row">
              <h2>Organizational Chart</h2>
              <div class="divider"></div>
            </div>

            <div class="row js-plumb-container"><!-- orgChartTmpl --></div>

          </div>

          <div id="settings-container" class="view-container">

            <div class="row">
              <h2>Settings</h2>
              <div class="divider"></div>
            </div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#settings/projects" class="js-link" data-target="#projects-container">Projects</a>
              </li>
              <li>
                <a href="#settings/users" class="js-link" data-target="#users-container">Users</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="projects-container">

                <h2>Projects</h2>

                <div class="row">

                  <div class="col-md-offset2 col-md-10 col-xs-12">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th colspan="4">Project Name</th>
                          <th>Budget</th>
                          <th>Start Date</th>
                          <th>Active</th>
                        </tr>
                      </thead>
                      <tbody class="settings-project-ct">
                        <!-- settingsProjectTmpl -->
                      </tbody>
                    </table>

                  </div>

                </div>
              </div>
              <div class="tab-pane" id="users-container">

                <div class="row">
                  <h2 class="col-sm-10">Users</h2>
                  <div class="col-sm-2">
                    <h5>
                      <a class="add-user js-link">
                        <span class="glyphicon glyphicon-plus"></span> <small>Add New User</small>
                      </a>
                    </h5>
                  </div>
                </div>

                <div class="row">

                  <div class="col-md-11 col-xs-12">
                    <div class="row settings-user-ct"><!-- settingsUserTmpl --></div>
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div><!-- main-content -->
        
      </div><!-- app-row -->

    </div>

    <!-- templates -->
    <script id="dashboardBudgetTmpl" type="text/template">

      Budget Status <span class="<%- data.budgetTextClass %>">$<%- data.budgetText %></span>

    </script>

    <script id="dashboardNewsTmpl" type="text/template">

      <% _.each(data, function (story) { %>
        <a class="list-group-item">
          <h4 class="list-group-item-heading"><%- story.heading %></h4>
          <p class="list-group-item-text"><%- story.body %></p>
        </a>
      <% }); %>

    </script>

    <script id="orgChartTmpl" type="text/template">

      <% _.each(data, function (team) { if (team.cid) { %>
        <div id="nodeid-<%- team.cid %>" class="team-block" style="top: <%- team.y %>px; left: <%- team.x %>px;">
          <%- team.name %>
        </div>
      <% } }); %>

    </script>

    <script id="kanbanTeamnameTmpl" type="text/template">

      <%- data.name %> Work Tracking

    </script>

    <script id="kanbanCardTmpl" type="text/template">

      <div class="kanban-card">
        <p class="kanban-card-title text-center text-info"><%- data.title %></p>
      </div>

    </script>

    <script id="sidebarKanbanTmpl" type="text/template">

      <% _.each(data, function (team) { %>
        <div class="panel-body">
          <div class="panel-group" id="sidebar-teamid-<%- team.id %>">

            <div class="panel panel-default">
              
              <div class="panel-heading">
                <h4 class="panel-title">
                  
                  <% if (team.contains && team.contains.length) { %>
                    <a class="js-link" data-toggle="collapse" data-parent="#sidebar-teamid-<%- team.id %>" data-target="#sidebar-teamid-<%- team.id %>-ct">
                      <%- team.name %> <span class="caret"></span>
                    </a>
                  <% } else { %>
                    <a href="#kanban/<%- team.id %>" data-toggle="collapse" data-parent="#sidebar-teamid-<%- team.id %>" data-target="#sidebar-teamid-<%- team.id %>-ct">
                      <%- team.name %>
                      <span class="glyphicon glyphicon-edit"></span>
                    </a>
                  <% } %>

                </h4>
              </div>

                  <% 
                  if (team.contains && team.contains.length) {
                  %>
                    <div id="sidebar-teamid-<%- team.id %>-ct" class="panel-collapse collapse">
                  <%
                    // recurse through each contained team
                    print(_.template($('#sidebarKanbanTmpl').html(), team.contains, {variable: 'data'}));
                  %>
                    </div>
                  <%
                  } else if (team.members) {
                    // if members exist it doesn't contain any teams
                  %>

                    <div class="panel-body">

                      <% _.each(team.members, function (teammate) { %>
                        <p><%- teammate.name %></p>
                      <% }); %>

                    </div>

                  <%
                  }
                  %>

            </div>

          </div>
        </div>
      <% }); %>

    </script>

    <script id="setttingsProjectTmpl" type="text/template">

      <% _.each(data, function (project) { %>
        <tr>
          <td colspan="4"><%- project.name %></td>
          <td>$<%- project.budget %></td>
          <td><%- project.formattedStartDate %></td>
          <td colspan="1">
            <% if (project.active) { %>
              <span class="glyphicon glyphicon-ok-circle"></span>
            <% } else { %>
              <span class="glyphicon glyphicon-ban-circle"></span>
            <% } %>
          </td>
        </tr>
      <% }); %>

    </script>

    <script id="settingsUserTmpl" type="text/template">

      <% _.each(data, function (user) { %>

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="/img/300x200.jpg" alt="300X200">
              <div class="caption">
                <h4 class="text-ellipsis" title="<%- user.name %>"><%- user.name %></h4>
                <p class="text-muted text-ellipsis user-description" title="<%- user.description %>"><%- user.description %></p>
                <p><a class="js-link btn btn-danger" data-userid="<%- user.id %>" role="button">Remove User</a></p>
              </div>
            </div>
          </div>

      <% }); %>

    </script>


    <!-- libs -->
    <script type="text/javascript" src="/js/libs/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/js/libs/bootstrap.js"></script>
    <script type="text/javascript" src="/js/libs/underscore.js"></script>
    <script type="text/javascript" src="/js/libs/backbone.js"></script>
    <script type="text/javascript" src="/js/libs/dom.jsPlumb-1.6.2.js"></script>
    <script type="text/javascript" src="/js/libs/moment.min.js"></script>
    <!--[if lt IE 9]><script language="javascript" type="text/libs/javascript" src="excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="/js/libs/jquery.jqplot.js"></script>

    <!-- init -->
    <script type="text/javascript" src="/js/client-app.js"></script>

    <!-- controllers -->
    <script type="text/javascript" src="/js/controllers/dashboard-view.js"></script>
    <script type="text/javascript" src="/js/controllers/org-chart-view.js"></script>
    <script type="text/javascript" src="/js/controllers/kanban-view.js"></script>
    <script type="text/javascript" src="/js/controllers/sidebar-kanban-view.js"></script>
    <script type="text/javascript" src="/js/controllers/settings-view.js"></script>

    <!-- models -->
    <script type="text/javascript" src="/js/models/dashboard.js"></script>
    <script type="text/javascript" src="/js/models/team.js"></script>
    <script type="text/javascript" src="/js/models/project.js"></script>

  </body>

</html>